<!-- 
    Google News API Key:
    c9625cb533d84ccd8faef83b7f1547e2
-->

{% extends 'invstr/base.html' %}
{% block title %}
News
{% endblock %}
{% block content %}
    <style>
    .news {
        margin: 10%;
        margin-top: 5%;
    }
    #ndwgaddthis {
        background-color: none;
    }
    #body {
        background-color: none;
    }
    </style>
    <div class="news">
        <div id="body">
<!-- 24-7 Press Release Newswire Landing Page Widget Code Starts Here --> <script type="text/javascript" src="https://news.24-7pressrelease.com/247pr-news-widget.js?widgettitle=News&amp;categories=116,&amp;showRelease=1&amp;width=auto&amp;headlinebold=1&amp;headlinesonly=0&amp;headlinecolor=56bd26&amp;briefcolor=666666&amp;textcolor=e6e6e6&amp;typeface=arial&amp;fontsize=11&amp;width=auto&amp;headlinesepstyle=dotted&amp;showimages=1&amp;numstories=20&amp;bgcolor=none&amp;urldest=247pr"></script> <!-- 24-7 Press Release Newswire Landing Page Widget Code Ends Here -->       
        </div>
    </div>
{% endblock %}